body{background-color:black}
{box-sizing: border-box;}

.column {
    float: left;
    width: 33.33%; 
padding: 10px
height: 300px;
}


{
    content: "";
    display: table;
    clear: both; }


    